/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css2?family=Jua&display=swap";
body {
    font-family: 'Jua', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Jua', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.2em;
    color: #999;
    margin-left: 10px;
}
.add{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.row {
    padding: 100px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #DE6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    font-size: 1.9em;
}

#sidebar .sidebar-header img {
     float:left;
     margin-right: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
    margin-left: 10px
}
#sidebar ul a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul p {
    color: #d5202e;
    padding-bottom: 10px;
    border-bottom: 2px solid #d5202e;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.user {
    background: #fff;
    color: black;
}

a.article,
a.article:hover {
    background: #fff !important;
    color: black !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;

}
#content >h2 {
    text-align: center;
}
.order-info {
    padding: 20px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
}
.input-group{
    margin-top: 30px;
}
.form-select {
    width: 82.5%;
}
.mybtn {
    margin-left:180px;
    margin-top: 50px;
    width: 30%;
}
.btn-outline-danger{
    margin: 50px auto;
    width: 300px;
}
.btn-lg {
  position: fixed; /* 이 부분을 고정 */
  bottom: 50px; /* 하단에 여백 없이 */
  right: 50px;
}
.col{
    margin-top: 30px;
    min-width: 30%;
    max-width: 100%;
}

.card {
    height: 100%;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    welcome 화면 @main.html
----------------------------------------------------- */
.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-content: center;*/
    margin: auto;
}