<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>FavoriTube</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../static/main_style.css">


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        function posting() {
            let title = $('#title').val()
            let url = $('#url').val()
            let cate = $('#cate').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/subscribe',
                data: {title_give: title, url_give: url, cate_give: cate, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.href = "/"
                }
            });
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>
</head>


<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="/static/logo.png" width="40px" heigh="30px">
                <a href='/'>FAVORITUBE</a>
            </div>
            <ul class="list-unstyled components">
                <p>카테고리</p>
                <a href="/recommend">추천리스트</a>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">나의
                        리스트</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for interest in interest_list %}
                        <li>
                            <a href="/mylist/{{interest}}">{{ interest }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <span class="user">{{ name }} 님</span>
                </li>
                <li>
                    <button onclick="sign_out()">로그아웃</button>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>


            <h2 class="add">구독 추가하기</h2>
            <div class="order-info">
                <div class="input-group mb-3">
                    <span class="input-group-text">title</span>
                    <input id="title" type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">유튜브 URL</span>
                    <input id="url" type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="size">카테고리</label>
                    <select class="form-select" id="cate">
                        <option selected>-- 선택 --</option>
                        {% for interest in interest_list %}
                        <option value={{ interest }}>{{ interest }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-text">채널설명</span>
                    <textarea id="comment" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <button onclick="posting()" type="button" class="btn btn-warning mybtn">추가하기</button>
            </div>
        </div>
    </div>
</body>
</html>